# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Reports
report/

# Presentations
presentation/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

dataset/